:root {
	--grid-gap: 20px;
}

*{
	box-sizing: border-box;
}

/* Hero */
.hero {
	height: calc( 100vh - var( --navbar-height ) );
	display: flex;
	min-width: 100%;
	justify-content:inherit;
}

.hero_slide {
	display: flex;
	justify-content: center;
	min-width: 1024px;
	min-height: 100%;

	width:100%;
	height: auto;
}

.hero h1 {
	font-size: 4em;
	font-weight: bold;
    color: white;
	margin-left: auto;
}

.boutons {
	z-index: 2;
	min-width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.boutons img {
	width : 10vh;
	height:auto;
}

/* Main */
body > main {
	display: grid;
	padding: 10px var( --global-horizontal-padding );
	box-sizing: border-box;
	gap: var( --grid-gap );
}

/* Titres */
main h2 {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 1em;
}

/* Paragraphes */
main p {
	line-height: 1.15em;
	margin-bottom: 1em;
}


/* Smartphone */
@media screen and ( max-width: 600px ) {
	
}

/* Desktop */
@media screen and ( min-width: 601px ) {
	body > main {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* Ultra-Wide */
@media screen and ( min-width: 1200px ) {
	
}