:root {
    --navbar-height: 80px;
    --navbar-padding: 10px;
    --border-color: #0003;
    --footer-padding: 10px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Smartphone */
@media screen and ( max-width: 600px ) {
	/* Variables */
	:root {
		--global-horizontal-padding: 10px;
	}
}

/* Desktop */
@media screen and ( min-width: 601px ) {
	/* Variables */
	:root {
		--global-horizontal-padding: 40px;
	}
}

/* Ultra-Wide */
@media screen and ( min-width: 1200px ) {
	/* Variables */
	:root {
		--global-horizontal-padding: 10vw;
	}
}